#titulo { -fx-font-family: "Lucida Sans"; 
    -fx-font-style: italic;
    -fx-font-size: 36px;
    -fx-text-fill: #000000;
}

#fondo { -fx-background-color: #000000; }

Button { -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-width: 0;
    -fx-text-fill: #000000;
    -fx-font-family: "Lucida Sans";
    -fx-font-style: italic;
    -fx-font-size: 28px;
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
}

#autor { -fx-font-family: "Lucida Sans";
    -fx-text-fill: #FFFF00;
    -fx-font-size: 12px;
}

Button:hover { 
	-fx-background-color: #d6dbdf;
    -fx-border-width: 1;
    -fx-border-color: #ffffff;
}

.preguntas{
    -fx-background-image: url('mapamundi.jpg');
    -fx-background-color: transparent;
    -fx-background-size: cover; 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
.primeraEscena{
	-fx-background-image: url('core_logo.png');
    -fx-background-size: 15% 15%; 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center 90%;
	
}
